.border {
    border-width: 1px;
    border-style: solid;
}
.border-solid {
    border-style: solid;
}
.rounded-full {
    border-radius: 50vh;
}
.border-t {
    border: 0px;
    border-top-width: 1px;
    border-style: solid;
}
.border-r {
    border: 0px;
    border-right-width: 1px;
    border-style: solid;
}
.border-b {
    border: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}
.border-l {
    border: 0px;
    border-left-width: 1px;
    border-style: solid;
}
.rounded {
    @for $i from 1 through 50 {
        &-#{$i}{
            border-radius: $i * 1px;
        }
    }
}